@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  background-color: #A7C4BC;
}

.navbar {
  background-color: #A7C4BC;
}

.navbar .navbar-brand {
  margin-right: 80px;
}

.navbar .collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: auto;
}

.navbar .collapse .navbar-nav .nav-item {
  background-color: #A7C4BC;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 20px;
}

.navbar .collapse .navbar-nav .nav-item .dropdown-menu {
  background-color: #DFEEEA;
}

.backgroundImage, .banner, .message, .galleryContainer, .ringGallery .galleryContainer .image1, .ringGallery .galleryContainer .image2, .ringGallery .galleryContainer .image3, .ringGallery .galleryContainer .image4, .ringGallery .galleryContainer .image5, .ringGallery .galleryContainer .image6, .ringGallery .galleryContainer .image7, .ringGallery .galleryContainer .image8, .ringGallery .galleryContainer .image9, .ringGallery .galleryContainer .image10, .earingGallery .galleryContainer .image1, .earingGallery .galleryContainer .image2, .earingGallery .galleryContainer .image3, .earingGallery .galleryContainer .image4, .earingGallery .galleryContainer .image5, .earingGallery .galleryContainer .image6, .pendantGallery .galleryContainer .image1, .pendantGallery .galleryContainer .image2, .pendantGallery .galleryContainer .image3, .pendantGallery .galleryContainer .image4, .pendantGallery .galleryContainer .image5, .pendantGallery .galleryContainer .image6, .pendantGallery .galleryContainer .image7, .pendantGallery .galleryContainer .image8, .pendantGallery .galleryContainer .image9, .braceletGallery .galleryContainer .image1, .braceletGallery .galleryContainer .image2, .braceletGallery .galleryContainer .image3, .braceletGallery .galleryContainer .image4, .braceletGallery .galleryContainer .image5, .braceletGallery .galleryContainer .image6, .stoneGallery .galleryContainer .image1, .stoneGallery .galleryContainer .image2, .stoneGallery .galleryContainer .image3, .stoneGallery .galleryContainer .image4, .stoneGallery .galleryContainer .image5, .stoneGallery .galleryContainer .image6, .stoneGallery .galleryContainer .image7, .silverGallery .galleryContainer .image1, .silverGallery .galleryContainer .image2, .silverGallery .galleryContainer .image3, .silverGallery .galleryContainer .image4, .silverGallery .galleryContainer .image5, .silverGallery .galleryContainer .image6, .silverGallery .galleryContainer .image7, .silverGallery .galleryContainer .image8, .silverGallery .galleryContainer .image9 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  width: auto;
  height: 60vh;
  padding: auto;
  background-image: url(../img/main2.PNG);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner img {
  width: 94%;
  height: auto;
  margin-bottom: 25px;
}

.banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0px;
}

.banner ul li {
  list-style: none;
  padding: 10px;
}

.banner ul li a {
  color: black;
}

.cards {
  background-color: #DFEEEA;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cards .item {
  width: 80vw;
  height: auto;
  margin: 10px;
}

.cards .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .card .card-body a {
  width: 50%;
}

.card__btn:link, .card__btn:visited {
  background-color: #5E8B7E;
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.card__btn:hover, .card__btn:active {
  background-color: #A7C4BC;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0 0 5px #A7C4BC, 0 0 25px #A7C4BC, 0 0 50px #A7C4BC, 0 0 200px #A7C4BC;
          box-shadow: 0 0 5px #A7C4BC, 0 0 25px #A7C4BC, 0 0 50px #A7C4BC, 0 0 200px #A7C4BC;
}

.about {
  background-color: #5E8B7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .aboutText__container {
  padding: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.about .aboutText__container h3 {
  padding-top: 3vw;
}

.about .aboutCarousel__container {
  width: 100vw;
}

.message {
  background-image: url(../img/bg3.svg);
  background-attachment: fixed;
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.message h2 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  text-align: left;
  padding: 2vw;
  text-transform: uppercase;
}

.contact {
  background-color: #5E8B7E;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.contact h2 {
  padding: 20px;
  text-align: center;
}

.contact h2 .form {
  background-color: #A7C4BC;
  padding: 10px;
  border-radius: 5px;
}

.contact h2 .form form {
  padding: 2px;
}

.contact h2 .form form .bg-info {
  background-color: #2f5d62 !important;
}

.contact h2 .location {
  width: 100vw;
}

.galleryTittle {
  background-color: #5E8B7E;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galleryTittle h1 {
  color: #DFEEEA;
}

.galleryContainer {
  background-color: #5E8B7E;
  background-image: url(../img/bg3.svg);
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.image {
  width: 80vw;
  height: 80vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid white;
  margin: 0px;
  padding: 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

.image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bottonTop {
  background-color: #2f5d62;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  border: #DFEEEA 2px solid;
  margin: 7px 0px 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottonTop a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  width: 70%;
  text-align: center;
}

.bottonTop :hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.ringGallery .galleryContainer .image1 {
  background-image: url(../img/ring1.jpg);
}

.ringGallery .galleryContainer .image2 {
  background-image: url(../img/ring2.jpg);
}

.ringGallery .galleryContainer .image3 {
  background-image: url(../img/ring3.jpg);
}

.ringGallery .galleryContainer .image4 {
  background-image: url(../img/ring4.jpg);
}

.ringGallery .galleryContainer .image5 {
  background-image: url(../img/ring5.jpg);
}

.ringGallery .galleryContainer .image6 {
  background-image: url(../img/ring6.jpg);
}

.ringGallery .galleryContainer .image7 {
  background-image: url(../img/ring7.jpg);
}

.ringGallery .galleryContainer .image8 {
  background-image: url(../img/ring8.jpg);
}

.ringGallery .galleryContainer .image9 {
  background-image: url(../img/ring9.jpg);
}

.ringGallery .galleryContainer .image10 {
  background-image: url(../img/ring10.jpg);
}

.earingGallery .galleryContainer .image1 {
  background-image: url(../img/earing1.jpg);
}

.earingGallery .galleryContainer .image2 {
  background-image: url(../img/earing2.jpg);
}

.earingGallery .galleryContainer .image3 {
  background-image: url(../img/earing3.jpg);
}

.earingGallery .galleryContainer .image4 {
  background-image: url(../img/earing4.jpg);
}

.earingGallery .galleryContainer .image5 {
  background-image: url(../img/earing5.jpg);
}

.earingGallery .galleryContainer .image6 {
  background-image: url(../img/earing6.jpg);
}

.pendantGallery .galleryContainer .image1 {
  background-image: url(../img/pendant1.jpg);
}

.pendantGallery .galleryContainer .image2 {
  background-image: url(../img/pendant2.jpg);
}

.pendantGallery .galleryContainer .image3 {
  background-image: url(../img/pendant3.jpg);
}

.pendantGallery .galleryContainer .image4 {
  background-image: url(../img/pendant4.jpg);
}

.pendantGallery .galleryContainer .image5 {
  background-image: url(../img/pendant5.jpg);
}

.pendantGallery .galleryContainer .image6 {
  background-image: url(../img/pendant6.jpg);
}

.pendantGallery .galleryContainer .image7 {
  background-image: url(../img/pendant7.jpg);
}

.pendantGallery .galleryContainer .image8 {
  background-image: url(../img/pendant8.jpg);
}

.pendantGallery .galleryContainer .image9 {
  background-image: url(../img/pendant9.jpg);
}

.braceletGallery .galleryContainer .image1 {
  background-image: url(../img/bracelet1.jpg);
}

.braceletGallery .galleryContainer .image2 {
  background-image: url(../img/bracelet2.jpg);
}

.braceletGallery .galleryContainer .image3 {
  background-image: url(../img/bracelet3.jpg);
}

.braceletGallery .galleryContainer .image4 {
  background-image: url(../img/bracelet4.jpg);
}

.braceletGallery .galleryContainer .image5 {
  background-image: url(../img/bracelet5.jpg);
}

.braceletGallery .galleryContainer .image6 {
  background-image: url(../img/bracelet6.jpg);
}

.stoneGallery .galleryContainer .image1 {
  background-image: url(../img/stone1.jpg);
}

.stoneGallery .galleryContainer .image2 {
  background-image: url(../img/stone2.jpg);
}

.stoneGallery .galleryContainer .image3 {
  background-image: url(../img/stone3.jpg);
}

.stoneGallery .galleryContainer .image4 {
  background-image: url(../img/stone4.jpg);
}

.stoneGallery .galleryContainer .image5 {
  background-image: url(../img/stone5.jpg);
}

.stoneGallery .galleryContainer .image6 {
  background-image: url(../img/stone6.jpg);
}

.stoneGallery .galleryContainer .image7 {
  background-image: url(../img/stone7.jpg);
}

.silverGallery .galleryContainer .image1 {
  background-image: url(../img/silver1.jpg);
}

.silverGallery .galleryContainer .image2 {
  background-image: url(../img/silver2.jpg);
}

.silverGallery .galleryContainer .image3 {
  background-image: url(../img/silver3.jpg);
}

.silverGallery .galleryContainer .image4 {
  background-image: url(../img/silver4.jpg);
}

.silverGallery .galleryContainer .image5 {
  background-image: url(../img/silver5.jpg);
}

.silverGallery .galleryContainer .image6 {
  background-image: url(../img/silver6.jpg);
}

.silverGallery .galleryContainer .image7 {
  background-image: url(../img/silver7.jpg);
}

.silverGallery .galleryContainer .image8 {
  background-image: url(../img/silver8.jpg);
}

.silverGallery .galleryContainer .image9 {
  background-image: url(../img/silver9.jpg);
}

footer {
  background-color: #2f5d62;
  color: #DFEEEA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px !important;
}

.column {
  float: left;
  width: 100vw;
  padding: 20px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__socialMedia {
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.footer__socialMedia ul li {
  display: inline;
  list-style: none;
}

.footer__socialMedia ul li a {
  color: #DFEEEA;
  padding: 6px;
}

.footer__message {
  text-align: center;
}

.footer__signature {
  text-align: center;
}

@media (min-width: 540px) {
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards .item {
    width: 40vw;
  }
  .cards .item .card .card-body a {
    font-size: 0.8em;
    width: 125px;
  }
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .aboutText__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 40vw;
    height: 40vw;
    overflow-y: scroll;
  }
  .aboutCarousel__container {
    width: 60vw;
  }
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact h2 {
    width: 100vw;
  }
  .form {
    width: 50vw;
  }
  .location {
    width: 50vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px white solid;
  }
  .location iframe {
    width: 100%;
  }
  .galleryContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .image {
    width: 35vw;
    height: 35vw;
  }
  .footer__info {
    width: 60%;
  }
  .footer__socialMedia {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .cards .item {
    width: 30vw;
  }
  .cards .item .card .card-body a {
    font-size: 1em;
    width: 150px;
  }
  .aboutText__container {
    width: 40vw;
    height: 40vw;
    overflow-x: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutText__container p {
    font-size: 0.5;
  }
  .aboutText__container h3 {
    font-size: 9;
    padding: 10px;
  }
  .form {
    width: 40vw;
    margin: 0px;
  }
  .location {
    width: 40vw;
    margin: 0px;
  }
  .galleryContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .image {
    width: 25vw;
    height: 25vw;
  }
}
/*# sourceMappingURL=style.css.map */