@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  background-color: #A7C4BC;
}

.navbar {
  background-color: #A7C4BC;
}

.navbar-brand {
  margin-right: 80px;
}

.nav-item {
  background-color: #A7C4BC;
}

.nav-item a {
  font-size: 20px;
}

.collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown-menu {
  background-color: #DFEEEA;
}

.navbar-collapse {
  width: 100vw;
}

.banner {
  height: 60vh;
  padding: auto;
  background-image: url(../img/main2.PNG);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner img {
  width: 94%;
  margin-bottom: 25px;
}

.banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0px;
}

.banner ul li {
  list-style: none;
  padding: 10px;
}

.banner ul li a {
  color: black;
}

.cards {
  background-color: #DFEEEA;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cards .item {
  width: 80vw;
  height: auto;
  margin: 10px;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-body a {
  width: 50%;
}

.btn {
  background-color: #2f5d62;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card__btn:link, .card__btn:visited {
  background-color: #5E8B7E;
  border-radius: 5px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.card__btn:hover, .card__btn:active {
  background-color: #A7C4BC;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0 0 5px #A7C4BC, 0 0 25px #A7C4BC, 0 0 50px #A7C4BC, 0 0 200px #A7C4BC;
          box-shadow: 0 0 5px #A7C4BC, 0 0 25px #A7C4BC, 0 0 50px #A7C4BC, 0 0 200px #A7C4BC;
}

.about {
  background-color: #5E8B7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutText__container {
  padding: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.aboutText__container h3 {
  padding-top: 3vw;
}

.aboutCarousel__container {
  width: 100vw;
}

.message {
  background-image: url(../img/bg3.svg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.message h2 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  text-align: left;
  padding: 2vw;
  text-transform: uppercase;
}

.contact {
  background-color: #5E8B7E;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.contact h2 {
  padding: 20px;
  text-align: center;
}

.form {
  background-color: #A7C4BC;
  padding: 10px;
  border-radius: 5px;
}

form {
  padding: 2px;
}

.location iframe {
  width: 100vw;
}

.bg-info {
  background-color: #2f5d62 !important;
}

.galleryTittle {
  background-color: #5E8B7E;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galleryTittle h1 {
  color: #DFEEEA;
}

.galleryContainer {
  background-color: #5E8B7E;
  background-image: url(../img/bg3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.image {
  width: 80vw;
  height: 80vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid white;
  margin: 0px;
  padding: 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

.image:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bottonTop {
  background-color: #2f5d62;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  border: #DFEEEA 2px solid;
  margin: 7px 0px 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottonTop a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  width: 70%;
  text-align: center;
}

.bottonTop :hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.ringsGallery .image1 {
  background-image: url(../img/ring1.jpg);
  background-size: cover;
  background-position: center;
}

.ringsGallery .image2 {
  background-image: url(../img/ring2.jpg);
  background-size: cover;
  background-position: center;
}

.ringsGallery .image3 {
  background-image: url(../img/ring3.jpg);
  background-size: cover;
  background-position: center;
}

.ringsGallery .image4 {
  background-image: url(../img/ring4.jpg);
  background-size: cover;
  background-position: center;
}

.ringsGallery .image5 {
  background-image: url(../img/ring5.jpg);
  background-size: cover;
  background-position: center;
}

.ringsGallery .image6 {
  background-image: url(../img/ring6.jpg);
  background-size: cover;
  background-position: center;
}

.ringsGallery .image7 {
  background-image: url(../img/ring7.jpg);
  background-size: cover;
  background-position: center;
}

.ringsGallery .image8 {
  background-image: url(../img/ring8.jpg);
  background-size: cover;
  background-position: center;
}

.ringsGallery .image9 {
  background-image: url(../img/ring9.jpg);
  background-size: cover;
  background-position: center;
}

.ringsGallery .image10 {
  background-image: url(../img/ring10.jpg);
  background-size: cover;
  background-position: center;
}

.earingsGallery .image1 {
  background-image: url(../img/earing1.jpg);
  background-size: cover;
  background-position: center;
}

.earingsGallery .image2 {
  background-image: url(../img/earing2.jpg);
  background-size: cover;
  background-position: center;
}

.earingsGallery .image3 {
  background-image: url(../img/earing3.jpg);
  background-size: cover;
  background-position: center;
}

.earingsGallery .image4 {
  background-image: url(../img/earing4.jpg);
  background-size: cover;
  background-position: center;
}

.earingsGallery .image5 {
  background-image: url(../img/earing5.jpg);
  background-size: cover;
  background-position: center;
}

.earingsGallery .image6 {
  background-image: url(../img/earing6.jpg);
  background-size: cover;
  background-position: center;
}

.pendantsGallery .image1 {
  background-image: url(../img/pen1.jpg);
  background-size: cover;
  background-position: center;
}

.pendantsGallery .image2 {
  background-image: url(../img/pen2.jpg);
  background-size: cover;
  background-position: center;
}

.pendantsGallery .image3 {
  background-image: url(../img/pen3.jpg);
  background-size: cover;
  background-position: center;
}

.pendantsGallery .image4 {
  background-image: url(../img/pen4.jpg);
  background-size: cover;
  background-position: center;
}

.pendantsGallery .image5 {
  background-image: url(../img/pen5.jpg);
  background-size: cover;
  background-position: center;
}

.pendantsGallery .image6 {
  background-image: url(../img/pen6.jpg);
  background-size: cover;
  background-position: center;
}

.pendantsGallery .image7 {
  background-image: url(../img/pen7.jpg);
  background-size: cover;
  background-position: center;
}

.pendantsGallery .image8 {
  background-image: url(../img/pen8.jpg);
  background-size: cover;
  background-position: center;
}

.pendantsGallery .image9 {
  background-image: url(../img/pen9.jpg);
  background-size: cover;
  background-position: center;
}

.braceletsGallery .image1 {
  background-image: url(../img/brac1.jpg);
  background-size: cover;
  background-position: center;
}

.braceletsGallery .image2 {
  background-image: url(../img/brac2.jpg);
  background-size: cover;
  background-position: center;
}

.braceletsGallery .image3 {
  background-image: url(../img/brac3.jpg);
  background-size: cover;
  background-position: center;
}

.braceletsGallery .image4 {
  background-image: url(../img/brac4.jpg);
  background-size: cover;
  background-position: center;
}

.braceletsGallery .image5 {
  background-image: url(../img/brac5.jpg);
  background-size: cover;
  background-position: center;
}

.braceletsGallery .image6 {
  background-image: url(../img/brac6.jpg);
  background-size: cover;
  background-position: center;
}

.stonesGallery .image1 {
  background-image: url(../img/st1.jpg);
  background-size: cover;
  background-position: center;
}

.stonesGallery .image2 {
  background-image: url(../img/st2.jpg);
  background-size: cover;
  background-position: center;
}

.stonesGallery .image3 {
  background-image: url(../img/st3.jpg);
  background-size: cover;
  background-position: center;
}

.stonesGallery .image4 {
  background-image: url(../img/st4.jpg);
  background-size: cover;
  background-position: center;
}

.stonesGallery .image5 {
  background-image: url(../img/st5.jpg);
  background-size: cover;
  background-position: center;
}

.stonesGallery .image6 {
  background-image: url(../img/st6.jpg);
  background-size: cover;
  background-position: center;
}

.stonesGallery .image7 {
  background-image: url(../img/st7.jpg);
  background-size: cover;
  background-position: center;
}

.silverGallery .image1 {
  background-image: url(../img/ss1.jpg);
  background-size: cover;
  background-position: center;
}

.silverGallery .image2 {
  background-image: url(../img/ss2.jpg);
  background-size: cover;
  background-position: center;
}

.silverGallery .image3 {
  background-image: url(../img/ss3.jpg);
  background-size: cover;
  background-position: center;
}

.silverGallery .image4 {
  background-image: url(../img/ss4.jpg);
  background-size: cover;
  background-position: center;
}

.silverGallery .image5 {
  background-image: url(../img/ss5.jpg);
  background-size: cover;
  background-position: center;
}

.silverGallery .image6 {
  background-image: url(../img/ss6.jpg);
  background-size: cover;
  background-position: center;
}

.silverGallery .image7 {
  background-image: url(../img/ss7.jpg);
  background-size: cover;
  background-position: center;
}

.silverGallery .image8 {
  background-image: url(../img/ss8.jpg);
  background-size: cover;
  background-position: center;
}

.silverGallery .image9 {
  background-image: url(../img/ss9.jpg);
  background-size: cover;
  background-position: center;
}

footer {
  background-color: #2f5d62;
  color: #DFEEEA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px !important;
}

.column {
  float: left;
  width: 100vw;
  padding: 20px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__socialMedia {
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.footer__socialMedia ul li {
  display: inline;
  list-style: none;
}

.footer__socialMedia ul li a {
  color: #DFEEEA;
  padding: 6px;
}

.footer__message {
  text-align: center;
}

.footer__signature {
  text-align: center;
}

@media (min-width: 768px) {
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards .item {
    width: 40vw;
  }
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .aboutText__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 40vw;
    height: 40vw;
    overflow-y: scroll;
  }
  .aboutCarousel__container {
    width: 60vw;
  }
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact h2 {
    width: 100vw;
  }
  .form {
    width: 50vw;
  }
  .location {
    width: 50vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px white solid;
  }
  .location iframe {
    width: 100%;
  }
  .galleryContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .image {
    width: 35vw;
    height: 35vw;
  }
  .footer__info {
    width: 60%;
  }
  .footer__socialMedia {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .cards .item {
    width: 30vw;
  }
  .aboutText__container {
    width: 40vw;
    height: 40vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutText__container p {
    font-size: 0.5;
  }
  .aboutText__container h3 {
    font-size: 0.8;
    padding: 0px;
  }
  .form {
    width: 40vw;
    margin: 0px;
  }
  .location {
    width: 40vw;
    margin: 0px;
  }
  .galleryContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .image {
    width: 25vw;
    height: 25vw;
  }
}
/*# sourceMappingURL=style.css.map */